---
import Layout from "@/layouts/Layout.astro";
import { HeroCarousel } from "@/components/hero-carousel.tsx";
---

<Layout>
  <section>
    <div
      class="container px-4 m-auto flex h-[500px] border border-red-500 items-center justify-between"
    >
      <h1>Hero section</h1>
      <div>
        <HeroCarousel client:load />
      </div>
    </div>
  </section>
</Layout>
