---
import Layout from "@/layouts/Layout.astro";
import { ppdbMetaData } from "@/data/meta-data";
---

<Layout description={ppdbMetaData.description} title={ppdbMetaData.title}>
  <section class="pt-28 pb-4">
    <div class="container mx-auto px-4">
      <div class="overflow-hidden rounded-xl md:rounded-2xl">
        <img
          src="/images/ppdb-brosur.jpeg"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
    <!-- <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.493848566158!2d106.52794947409404!3d-6.063932759508932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e41fe00979bb4dd%3A0xfc3f6910e2019d64!2sSDIT%20LATAHZAN!5e0!3m2!1sid!2sid!4v1744535381557!5m2!1sid!2sid"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div> -->
  </section>
</Layout>
<footer></footer>
