---
import Layout from "@/layouts/Layout.astro";
import { achievementMetaData } from "@/data/meta-data";
---

<Layout
  description={achievementMetaData.description}
  title={achievementMetaData.title}
>
  <section class="pt-44 mb-40">
    <div class="container mx-auto px-4">
      <div class="text-center mb-16 md:mb-20">
        <h1
          class="w-full max-w-xl font-plus-jakarta-sans font-bold text-4xl md:text-5xl leading-[36px] md:leading-[48px] mb-8 mx-auto"
        >
          Buah dari Usaha, Doa dan Pembinaan
        </h1>
        <p class="w-full max-w-3xl text-lg text-[#474747] mx-auto">
          Prestasi siswa- siswi kami adalah hasil dari proses panjang yang
          mengedepankan nilai-nilai Islam, kerja keras, dan semangat untuk terus
          berkembang.
        </p>
      </div>

      <ul class="columns-1 md:columns-2 lg:columns-3 gap-4 md:gap-5">
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/Fathan juara 2 nyanyi.jpg"
            alt="Fathan"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/images/qales.jpg" alt="qales" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/images/kevan.jpeg" alt="kevan" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/images/rizqi.jpeg" alt="Fathan" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/images/silat.jpeg" alt="silat" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/images/jamila.jpeg" alt="Fathan" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/images/pa mumuh.jpeg" alt="pa mumuh" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/images/ramean juara.jpeg" alt="juara" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/images/pa awan.jpeg" alt="pa awan" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/juara-pramuka-3.jpeg"
            alt="pramuka-3"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/juara-pramuka-1.jpeg"
            alt="juara-pramuka-1"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/juara-pramuka-4.jpeg"
            alt="juara-pramuka-4"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/juara-pramuka-5.jpeg"
            alt="juara-pramuka-5"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/juara-pramuka-6.jpeg"
            alt="juara-pramuka-6"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/juara-pramuka-7.jpeg"
            alt="juara-pramuka-7"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/juara-pramuka-8.jpeg"
            alt="juara-pramuka-8"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/juara-pramuka-9.jpeg"
            alt="juara-pramuka-9"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/juara-pramuka-10.jpeg"
            alt="juara-pramuka-10"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/images/juara-pramuka-11.jpeg"
            alt="juara-pramuka-11"
          />
        </li>
      </ul>
    </div>
  </section>
</Layout>
