---
import Layout from "@/layouts/Layout.astro";
import { achievementMetaData } from "@/data/meta-data";
---

<Layout
  description={achievementMetaData.description}
  title={achievementMetaData.title}
>
  <!-- <section class="bg-white-700 mx-auto"> -->
  <!-- <div class="flex justify-between items-center container mx-auto p-7"> -->
  <!-- <img class="w-24" src="/jsit.png" alt="" /> -->
  <!-- <h1 class="text-center font-bold text-4xl text-white ">ABOUT <span class="text-yellow-500">US</span></h1> -->
  <!-- <img class="w-24" src="sditlatahzan.png" alt="" /> -->
  <!-- </div> -->
  <!-- </section> -->
  <section class="pt-44 mb-40">
    <div class="container mx-auto px-4">
      <div class="text-center mb-20">
        <h1
          class="w-full max-w-xl font-plus-jakarta-sans font-bold text-5xl leading-[48px] mb-8 mx-auto"
        >
          Buah dari Usaha, Doa dan Pembinaan
        </h1>
        <p class="w-full max-w-3xl text-lg text-[#474747] mx-auto">
          Prestasi siswa- siswi kami adalah hasil dari proses panjang yang
          mengedepankan nilai-nilai Islam, kerja keras, dan semangat untuk terus
          berkembang.
        </p>
      </div>

      <ul class="columns-3 gap-5">
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/src/assets/Fathan juara 2 nyanyi.jpg"
            alt="Fathan"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/src/assets/qales.jpg" alt="Fathan" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/src/assets/kevan.jpeg" alt="Fathan" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/src/assets/rizqi.jpeg" alt="Fathan" />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img
            class="w-full"
            src="/src/assets/Fathan juara 2 nyanyi.jpg"
            alt="Fathan"
          />
        </li>
        <li class="break-inside-avoid mb-5 rounded-lg overflow-hidden">
          <img class="w-full" src="/src/assets/qales.jpg" alt="Fathan" />
        </li>
      </ul>
    </div>
  </section>
  <!-- content -->
  <!-- <div class="mx-auto w-[980px] h-[278px] border-2 flex items-center gap-5">
    <div class="flex-1 overflow-hidden h-full border border-red-500">
      <img
        class="w-full h-full object-cover"
        src="/src/assets/Fathan juara 2 nyanyi.jpg"
        alt="Fathan"
      />
    </div>
    <div class="flex-1">
      <h1 class="text-center text-slate-500">JUARA 2</h1>
      <h1 class="text-center font-bold mb-10">Juara Lomba Menyanyi</h1>
      <h1 class="text-center text-slate-500">2025</h1>
      <h1 class="text-center text-slate-500">Diraih Oleh</h1>
      <h1 class="text-center font-bold">FATHAN AL-MAISAH SADWALUDIN</h1>
    </div>
  </div>
  <div class="mx-auto container w-[980px] h-[278px] border-2 flex items-center">
    <div class="flex-1 overflow-hidden h-full border border-red-500">
      <img
        class="w-full h-full object-cover"
        src="/src/assets/kevan.jpeg"
        alt="Kevan"
      />
    </div>
    <div class="flex-1">
      <h1 class="text-center text-slate-500">JUARA 1</h1>
      <h1 class="text-center font-bold mb-10">Juara Lomba Silat</h1>
      <h1 class="text-center text-slate-500">2025</h1>
      <h1 class="text-center text-slate-500">Diraih Oleh</h1>
      <h1 class="text-center font-bold">KEVAN ATHARIZZ CALIEF</h1>
    </div>
  </div>
  <div class="mx-auto container w-[980px] h-[278px] border-2 flex items-center">
    <div class="flex-1 overflow-hidden h-full border border-red-500">
      <img
        class="w-full h-full object-bottom"
        src="/src/assets/qales.jpg"
        alt="Qalleshya"
      />
    </div>
    <div class="flex-1">
      <h1 class="text-center text-slate-500">JUARA 1</h1>
      <h1 class="text-center font-bold mb-10">Juara Lomba Silat</h1>
      <h1 class="text-center text-slate-500">2025</h1>
      <h1 class="text-center text-slate-500">Diraih Oleh</h1>
      <h1 class="text-center font-bold">QALLESHYA ZAEMMA ADZIMA TINNUR</h1>
    </div>
  </div>
  <div class="mx-auto container w-[980px] h-[278px] border-2 flex items-center">
    <div class="flex-1 overflow-hidden h-full border border-red-500">
      <img
        class="w-full h-full object-cover"
        src="/src/assets/rizqi.jpeg"
        alt="Rizqi"
      />
    </div>
    <div class="flex-1">
      <h1 class="text-center text-slate-500">JUARA 1</h1>
      <h1 class="text-center font-bold mb-10">Juara Lomba Tifan</h1>
      <h1 class="text-center text-slate-500">2025</h1>
      <h1 class="text-center text-slate-500">Diraih Oleh</h1>
      <h1 class="text-center font-bold">AHMAD NUR RIZQI</h1>
    </div>
  </div> -->
</Layout>
