---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="bg-white mx-auto">
    <div class="flex justify-between items-center container mx-auto p-7">
      <img class="w-24" src="/jsit.png" alt="" />
      <h1 class="text-center font-bold text-4xl">Sejarah La-Tahzan</h1>
      <img class="w-24" src="sditlatahzan.png" alt="" />
    </div>
    <div class="mx-auto w-[1100px] container p-10 pb-[100px]">
      <p class="text-justify text-xl tracking-wide pb-7 indent-10 mb-[12px]">
        Sejak berdirinya Yayasan Assalam unit pertama yang bergerak adalah
        Pesantren Yatim Assalam dengan tujuan non provit Alhamdulillah banyaknya
        Alumni Santri Pesantren Assalam sejak berdirinya pada tahun 1990 yang
        sudah mendapatkan manfaatnya sejak saat itu berdirilah lembaga
        pendidikan RA Assalam pada tahun 2002 kemudian unit baru SDIT Latahzan
        pada tahun 2011 dengan jumlah 10 Siswa dan Alhamdulillah sejak saat ini
        mendirikan Rumah Quran Latahzan ditahun 2024 dan menyusul pada tahun ini
        2025 berdiri SMPIT Latahzan.
      </p>
      <p class="text-justify text-xl tracking-wide pb-7 indent-10 mb-[12px]">
        SDIT Latahzan berdiri sejak 2011. Dengan niat dakwah dan semangat untuk
        mendirikan Lembaga Pendidikan Islam Terpadu yang memplopori diwilayah
        khususnya Kecamatan Mauk dengan jumlah peserta didik 10 Siswa,
        beriringnya waktu Alhamdulillah sejak saat berdiri sudah banyak prestasi
        diberbagai bidang, Para Alumni tersebar dipesantren Favorit dan juga
        Sekolah Negeri Favorit sekitar Tangerang.
      </p>
      <p class="text-justify text-xl tracking-wide pb-7 indent-10 mb-[12px]">
        Berkat tekad yang kuat kami demi meningkatkan mutu dan kualitas
        pendidikan, SDIT Latahzan membuka kelas Excellent berbasis bilingual
        dengan sistem fullday school, Alhamdulillah Antusiasme dan kepercayaan
        masyarakat makin meningkat untuk mengamanahkan putra putrinya belajar di
        SDIT Latahzan. Semoga lahir lah generasi robbani yang paham agama dan
        memadukan keilmuannya untuk kepentingan umat.
      </p>
    </div>
    
  </section>
  <section class="bg-white mx-auto container">
    <section class="mx-auto  container">
      <div class="w-full rounded-e-xl border-solid mb-[120px]">
        <h2 class="text-center font-bold mt-[100px] text-[48px]">
          VISI
        </h2>
        <p class="text-center text-xl mt-[80px]">
          Membentuk generasi Rabbani yang menguasai serta memanfaatkan ilmu
          pengetahuan dan teknologi dengan pola pikir maju dan kreatif.
        </p>
      </div>
      <div class="w-full mt-[100px]">
        <h2 class="text-center font-bold mt-[100px] pl-4 text-[48px]">
          MISI 
        </h2>
        <p class="text-center mt-10 p-4 pb-10 text-xl">Sebagai wujud nyata dari visi sekolah, kami merumuskan tujuh misi utama yang menjadi dasar dalam setiap langkah pendidikan di SIT La-Tahzan.</p>
        <div class="grid grid-cols-12 gap-5 pt-[110px]">
          <div class="col-span-4">
            <div class="">
                <p class="mt-3 text-center text-2sm pl-4">Menyelanggarakan <strong>pendidikan</strong> berdasarkan <strong>keislaman</strong>.</p>
            </div>
          </div>
          <div class="col-span-4">
            <div>
                <p class="mt-3 text-center text-2sm pl-4">Menanamkan keislaman berdasarkan <strong>al-Quran</strong> dan <strong>Sunnah</strong>.</p>
            </div>
          </div>
          <div class="col-span-4">
            <div>
                <p class="mt-3 text-center text-2sm pl-4">Melaksanakan program pendidikan, yang mendorong pola pikir <strong>maju</strong> dan
                  <strong>kreatif</strong>.</p>
            </div>
          </div>
          <div class="col-span-4">
            <div>
                <p class="mt-3 text-center text-2sm pl-4">Memfasilitasi siswa dalam mengembangkan <strong>kemampuan</strong> dan <strong>pengetahuan</strong>.</p>
            </div>
          </div>
          <div class="col-span-4">
            <div>
                <p class="mt-3 text-center text-2sm pl-4">Meningkatkan prestasi, <strong>keterampilan</strong> dan <strong>kemandirian</strong> siswa.</p>
            </div>
          </div>
          <div class="col-span-4">
            <div>
                <p class="mt-3 text-center text-2sm pl-4">Mencintai dan menjadikan <strong>budaya Nasional</strong> sebagai <strong>Identitas diri</strong>.</p>
            </div>
          </div>
          <div class="col-span-12 flex justify-center">
            <div>
                <p class="mt-3 text-2sm pl-4"><p>Mewujudkan <strong>lingkungan</strong> sekolah <strong>bersih</strong>, <strong>sehat</strong> dan <strong>nyaman</strong>.</p>
            </div>
          </div>
        </div>

      <div class="mx-auto pb-10">
        <h1 class="text-center font-bold pl-4 text-[48px] mt-[120px]">TUJUAN</h1>
        <p class="text-center mt-10 pl-4 text-xl">Membentuk generasi Rabbani
          serta menguasai & memanfaatkan ilmu pengetahuan dan teknologi dengan
          pola pikir maju dan kreatif.</p>
      </div>
      <div class="flex justify-between items-center mx-auto p-[100px]">
        <img class="w-20" src="/src/assets/open.png" alt="icon-open" >
        <h1 class="text-center mt-10 pl-4 text-3xl font-bold p-7">Membentuk generasi Rabbani
          serta menguasai & memanfaatkan ilmu pengetahuan dan teknologi dengan
          pola pikir maju dan kreatif.</h1>
        <img class="w-20" src="/src/assets/close.png" alt="icon-close">
      </div>
      <div class="mx-auto container pb-[100px]">
          <img>
          <h1 class="text-center text-xl font-bold">K.H Syarifullah S.pd M.A</h1>
          <h1 class="text-center text-2xl font-bold">Ketua Yayasan As-Salam</h1>
      </div>
      <div class="mx-auto container w-[1000px]" >
          <div class="flex mx auto w-[1180px] ">
            <img class="w-15 p-2" src="/jsit.png" alt=""/>
            <img class="w-15 p-2" src="sditlatahzan.png" alt="" />
          </div>
          <div class="flex justify-between items-center container mx-auto  w-[1000px]">
            <h1>SIT La-Tahzan</h1>
            <h2>Navigasi</h2>
            <h2>kontak</h2>
          </div>
      </div>
      <footer class="mx-auto container flex justify-between w-[1180px]">
        <div class="mx-auto container">
          <h1 >Tempat terbaik untuk membentuk generasi unggul yang cerdas, berakhlak mulia, dan berlandaskan nilai-nilai Islam.<h1>
        </div>
        <div>
          <a href="#">Home</a>
          <a href="#">Tentang</a>
          <a href="#">Prestasi</a>
          <a href="#">Unit Pendidikan</a>
          <a href="#">PPDB</a>
        </div>
        <div>
          <h1>Alamat</h1>
          <h1>No.Telepon</h1>
          <h1>Email</h1>
        </div>
      </footer>
    </section>
  </section>
</Layout>
