---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="bg-yellow-400 mx-auto">
    <div class="flex justify-between items-center container mx-auto p-7">
      <img class="w-24" src="/jsit.png" alt="" />
      <h1 class="text-center font-bold text-4xl">SEJARAH LATAHZAN</h1>
      <img class="w-24" src="sditlatahzan.png" alt="" />
    </div>
    <div class="mx-auto container p-10">
      <p class="text-justify text-xl tracking-wide pb-2 indent-10">
        Sejak berdirinya Yayasan Assalam unit pertama yang bergerak adalah
        Pesantren Yatim Assalam dengan tujuan non provit Alhamdulillah banyakn
        Alumni Santri Pesantren Assalam sejak berdirinya pada tahun 1990 yang
        sudah mendapatkan manfaatnya sejak saat itu berdirilah lembaga
        pendidikan RA Assalam pada tahun 2002 kemudian unit baru SDIT Latahzan
        pada tahun 2011 dengan jumlah 10 Siswa dan Alhamdulillah sejak saat ini
        mendirikan Rumah Quran Latahzan ditahun 2024 dan menyusul pada tahun ini
        2025 berdiri SMPIT Latahzan.
      </p>
      <p class="text-justify text-xl tracking-wide pb-2 indent-10">
        SDIT Latahzan berdiri sejak 2011. Dengan niat dakwah dan semangat untuk
        mendirikan Lembaga Pendidikan Islam Terpadu yang memplopori diwilayah
        khususnya Kecamatan Mauk dengan jumlah peserta didik 10 Siswa,
        beriringnya waktu Alhamdulillah sejak saat berdiri sudah banyak prestasi
        diberbagai bidang, Para Alumni tersebar dipesantren Favorit dan juga
        Sekolah Negeri Favorit sekitar Tangerang.{" "}
      </p>
      <p class="text-justify text-xl tracking-wide pb-2 indent-10">
        Berkat tekad yang kuat kami demi meningkatkan mutu dan kualitas
        pendidikan, SDIT Latahzan membuka kelas Excellent berbasis bilingual
        dengan sistem fullday school, Alhamdulillah Antusiasme dan kepercayaan
        masyarakat makin meningkat untuk mengamanahkan putra putrinya belajar di
        SDIT Latahzan. Semoga lahir lah generasi robbani yang paham agama dan
        memadukan keilmuannya untuk kepentingan umat.
      </p>
    </div>
  </section>
  <section class="bg-white mx-auto">
    <h1 class="text-center font-bold text-4xl pt-6">
      SDIT <span class="text-green-700">LATAHZAN</span>
    </h1>
    <p class="text-center text-3xl mt-10 max-w-full italic">
      Smart And Religious
    </p>
    <section class="justify-wrap mt-10 mx-auto container">
      <div class="w-full rounded-e-xl border-solid mb-8">
        <h2 class="text-justify font-bold mt-10 pl-4 text-3xl">
          VISI <span class="text-green-700">LATAHZAN</span>
        </h2>
        <p class="text-justify text-xl mt-3 pl-4">
          Membentuk generasi Rabbani yang menguasai serta memanfaatkan ilmu
          pengetahuan dan teknologi dengan pola pikir maju dan kreatif.
        </p>
      </div>
      <div class="w-full rounded-s-xl border-solid pt-10 mb-8">
        <h2 class="text-justify font-bold mt-10 pl-4 text-3xl">
          MISI <span class="text-green-700">LATAHZAN</span>
        </h2>
        <p class="mt-3 text-justify text-xl pl-4">
          1. Menyelanggarakan pendidikan berdasarkan keislaman.
        </p>
        <p class="mt-3 text-justify text-xl pl-4">
          2. Menanamkan keislaman berdasarkan al-Quran dan Sunnah.
        </p>
        <p class="mt-3 text-justify text-xl pl-4">
          3. Melaksanakan program pendidikan, yang mendorong pola pikir maju dan
          kreatif.
        </p>
        <p class="mt-3 text-justify text-xl pl-4">
          4. Memfasilitasi siswa dalam mengembangkan kemampuan dan pengetahuan.
        </p>
        <p class="mt-3 text-justify text-xl pl-4">
          5. Meningkatkan prestasi, keterampilan dan kemandirian siswa.
        </p>
        <p class="mt-3 text-justify text-xl pl-4">
          6. Mencintai dan menjadikan budaya Nasional sebagai Identitas diri.
        </p>
        <p class="mt-3 text-justify text-xl pl-4">
          7. Mewujudkan lingkungan sekolah bersih, sehat dan nyaman.
        </p>
      </div>
      <div class="w-full rounded-e-xl border-solid pt-10 mb-8">
        <h2 class="text-justify font-bold mt-10 pl-4 text-3xl">
          TUJUAN <span class="text-green-700">LATAHZAN</span>
        </h2>
        <p class="text-justify text-xl mt-3 p-4">
          Membentuk generasi Rabbani yang taat pada Allah SWT dan Rasulnya,
          memahami nilai-nilai Islam dan mencetak calon para penghafal Al-Quran
          serta menguasai & memanfaatkan ilmu pengetahuan dan teknologi dengan
          pola pikir maju dan kreatif.
        </p>
      </div>
    </section>
  </section>
  <section class="mx-auto bg-blue-700">
    <div class="mx-auto w-3/4 container">
      <h1 class="text-center font-bold text-4xl pt-6 pb-10 text-yellow-400">
        PENGURUS <span class="text-white">DAN</span>{" "}
        <span class="text-yellow-400">PENGAJAR</span>{" "}
      </h1>
      <p class="text-justify text-2xl text-white">
        Untuk dapat membina pendidikan yang baik, Yayasan As-Salam menyediakan
        tenaga-tenaga yang kapabel dan berpengalaman. Dimana seluruh tenaga
        pendidik berijazah S1 dan beberapa ada yang berijazah S2.
      </p>
    </div>
  </section>
</Layout>
