---

---

<a
  href="/"
  class:list={[
    "inline-flex text-white font-inter text-base tracking-[0.5px] py-4 px-8 rounded-lg",
    "transition-all bg-[#5D8736] hover:bg-[#5d8736]/90",
  ]}
>
  Yuk, Daftar Sekarang
</a>
