---
interface Props {
  href: string;
  externalLink?: boolean;
  // children: HTMLElement;
}

const { href, externalLink = false } = Astro.props;
---

<a
  target={externalLink ? "_blank" : "_self"}
  href={href}
  class:list={[
    "inline-flex w-full justify-center text-white font-inter text-base tracking-[0.5px] py-4 px-8 rounded-lg",
    "transition-all bg-[#5D8736] hover:bg-[#5d8736]/90",
  ]}
>
  <slot />
  <!-- {children} -->
</a>
