---
import CtaButtton from "./cta-buttton.astro";
---

<div
  class="flex flex-col justify-center items-center py-20 px-8 bg-[#191919] text-white rounded-2xl"
>
  <p
    class="font-plus-jakarta-sans text-3xl md:text-5xl leading-[36px] md:leading-[54px] text-center max-w-xl mb-6"
  >
    Ayo gabung dan menjadi keluarga SIT LaTahzan
  </p>
  <p class="text-base md:text-lg text-center text-[#999999] max-w-xl mb-12">
    Temukan lingkungan belajar yang Islami dan menyenangkan serta wujudkan masa
    depan cerah bersama kami!
  </p>

  <div class="w-full max-w-sm">
    <CtaButtton href="/ppdb">
      <span>Yuk, Daftar Sekarang</span>
    </CtaButtton>
  </div>
</div>
