---
import CtaContent from "./cta-content.astro";

interface Props {
  inHomePage?: boolean;
}

const { inHomePage } = Astro.props;
---

<footer
  class:list={[
    "bg-[#F4FFC3]/50 w-full pb-16 relative",
    inHomePage ? "pt-24 md:pt-40" : "pt-16",
  ]}
>
  {
    inHomePage && (
      <div class="absolute -top-80 left-1/2 -translate-x-1/2 w-full max-w-5xl px-4">
        <CtaContent />
      </div>
    )
  }
  <div class="container mx-auto px-4">
    <ul class="flex items-center gap-5 mb-8">
      <li class="w-20 h-20 rounded-full overflow-hidden">
        <a href="/" class="inline-flex">
          <img src="/sditlatahzan.png" alt="Logo SDIT LaTahzan" />
        </a>
      </li>
      <li class="w-20 h-20 rounded-full overflow-hidden">
        <a
          href="https://jsit.id/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex"
        >
          <img src="/jsit.png" alt="Logo SDIT LaTahzan" />
        </a>
      </li>
    </ul>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 mb-20">
      <div class="w-full max-w-xs">
        <h3 class="font-plus-jakarta-sans text-2xl tracking-[1px] mb-4">
          SIT LaTahzan
        </h3>
        <p class="text-[#999999]">
          Tempat terbaik untuk membentuk generasi unggul yang cerdas, berakhlak
          mulia, dan berlandaskan nilai-nilai Islam.
        </p>
      </div>

      <div>
        <h3 class="font-plus-jakarta-sans text-xl tracking-[1px] mb-5">
          Navigasi
        </h3>

        <ul class="grid gap-3">
          <li class="text-[#999999]">Beranda</li>
          <li class="text-[#999999]">Tentang</li>
          <li class="text-[#999999]">Prestasi</li>
          <li class="text-[#999999]">PPDB</li>
        </ul>
      </div>

      <div>
        <h3 class="font-plus-jakarta-sans text-xl tracking-[1px] mb-5">
          Kontak
        </h3>

        <ul class="grid gap-3 mb-10">
          <li class="text-[#999999]">
            Alamat : Jl. Raya Mauk Ds. Banyu Asih Rt/Rw 15/03 Kec. Mauk-
            Tangerang
          </li>
          <li class="text-[#999999]">No Telepon : +62 813 1816 1256</li>
          <li class="text-[#999999]">Email : Sdit.Latahzan@gmail.com</li>
        </ul>

        <ul class="flex items-center gap-5">
          <li class="h-10 rounded-lg">
            <a
              href="https://www.youtube.com/@sitlatahzanmauk"
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex hover:text-[#FF0000] transition-colors"
            >
              <svg
                width="54"
                height="40"
                viewBox="0 0 54 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M53.653 8.83205C53.653 4.14468 50.1616 0.373948 45.8474 0.373948C40.0037 0.104163 34.0439 0 27.9534 0H26.0547C19.9789 0 14.0087 0.104164 8.16495 0.37499C3.86128 0.37499 0.369829 4.16655 0.369829 8.85393C0.106124 12.5611 -0.00568748 16.2693 0.000641445 19.9776C-0.00990676 23.6858 0.10964 27.3975 0.35928 31.1127C0.35928 35.8001 3.85074 39.602 8.1544 39.602C14.2935 39.8833 20.5907 40.0083 26.9935 39.9979C33.4068 40.0187 39.6865 39.8868 45.8326 39.602C50.1468 39.602 53.6383 35.8001 53.6383 31.1127C53.8914 27.394 54.0075 23.6858 53.9969 19.9672C54.0208 16.2589 53.9062 12.5472 53.653 8.83205ZM21.8354 30.1961V9.72786L37.1303 19.9567L21.8354 30.1961Z"
                  fill="currentColor"></path>
              </svg>
            </a>
          </li>
          <li class="h-10 rounded-lg">
            <a
              href="https://www.instagram.com/sitlatahzan?igsh=M3AzaW1mODdtYTVp"
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex hover:text-[#E1306C] transition-colors"
            >
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M28.333 3.33304C30.5413 3.33963 32.6572 4.21978 34.2187 5.78127C35.7802 7.34276 36.6604 9.4587 36.667 11.667V28.333C36.6604 30.5413 35.7802 32.6572 34.2187 34.2187C32.6572 35.7802 30.5413 36.6604 28.333 36.667H11.667C9.4587 36.6604 7.34276 35.7802 5.78127 34.2187C4.21978 32.6572 3.33963 30.5413 3.33304 28.333V11.667C3.33963 9.4587 4.21978 7.34276 5.78127 5.78127C7.34276 4.21978 9.4587 3.33963 11.667 3.33304H28.333ZM28.333 0H11.667C5.25 0 0 5.25 0 11.667V28.333C0 34.75 5.25 40 11.667 40H28.333C34.75 40 40 34.75 40 28.333V11.667C40 5.25 34.75 0 28.333 0Z"
                  fill="currentColor"></path>
                <path
                  d="M30.833 11.6667C30.3386 11.6667 29.8552 11.5201 29.4441 11.2454C29.033 10.9707 28.7126 10.5803 28.5233 10.1235C28.3341 9.66664 28.2846 9.16398 28.3811 8.67902C28.4775 8.19407 28.7156 7.74861 29.0653 7.39898C29.4149 7.04935 29.8604 6.81125 30.3453 6.71479C30.8303 6.61832 31.3329 6.66783 31.7897 6.85705C32.2466 7.04627 32.637 7.3667 32.9117 7.77782C33.1864 8.18895 33.333 8.6723 33.333 9.16675C33.3337 9.49525 33.2696 9.82066 33.1442 10.1243C33.0188 10.4279 32.8347 10.7038 32.6024 10.9361C32.3701 11.1684 32.0942 11.3525 31.7906 11.4779C31.4869 11.6033 31.1615 11.6675 30.833 11.6667ZM20 13.3328C21.3186 13.3328 22.6076 13.7238 23.704 14.4564C24.8003 15.189 25.6549 16.2302 26.1595 17.4484C26.6641 18.6667 26.7961 20.0072 26.5389 21.3004C26.2816 22.5937 25.6466 23.7816 24.7143 24.714C23.7819 25.6464 22.5939 26.2814 21.3007 26.5386C20.0074 26.7959 18.6669 26.6639 17.4487 26.1593C16.2304 25.6546 15.1892 24.8001 14.4566 23.7038C13.7241 22.6074 13.333 21.3184 13.333 19.9998C13.3349 18.2322 14.0379 16.5375 15.2878 15.2876C16.5377 14.0377 18.2324 13.3347 20 13.3328ZM20 9.99978C18.0222 9.99978 16.0888 10.5863 14.4443 11.6851C12.7998 12.7839 11.5181 14.3457 10.7612 16.1729C10.0043 18.0002 9.8063 20.0109 10.1922 21.9507C10.578 23.8905 11.5304 25.6723 12.9289 27.0708C14.3275 28.4694 16.1093 29.4218 18.0491 29.8076C19.9889 30.1935 21.9996 29.9955 23.8268 29.2386C25.6541 28.4817 27.2159 27.2 28.3147 25.5555C29.4135 23.911 30 21.9776 30 19.9998C30 17.3476 28.9464 14.8041 27.0711 12.9287C25.1957 11.0534 22.6522 9.99978 20 9.99978Z"
                  fill="currentColor"></path>
              </svg>
            </a>
          </li>
          <li class="h-10 rounded-lg">
            <a
              href="https://www.facebook.com/share/16gyMExkwH/"
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex hover:text-[#4267B2] transition-colors"
            >
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M40 20.1208C40 9.00945 31.0446 0 20 0C8.95536 0 0 9.00945 0 20.1208C0 30.1633 7.3125 38.4873 16.875 39.9982V25.9388H11.7955V20.1208H16.875V15.6879C16.875 10.6461 19.8616 7.85879 24.4295 7.85879C26.6179 7.85879 28.9071 8.25223 28.9071 8.25223V13.2043H26.3839C23.9009 13.2043 23.1241 14.7547 23.1241 16.3482V20.1208H28.6705L27.7848 25.9388H23.125V40C32.6875 38.49 40 30.166 40 20.1208Z"
                  fill="currentColor"></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p class="text-center text-[#999999]">All rights reserved.</p>
  </div>
</footer>
