---

---

<footer class="bg-[#F4FFC3]/50 w-full pt-40 pb-16">
  <div class="container mx-auto px-4">
    <ul class="flex items-center gap-5 mb-8">
      <li class="w-20 h-20 rounded-full bg-red-400"></li>
      <li class="w-20 h-20 rounded-full bg-red-400"></li>
    </ul>

    <div class="grid grid-cols-3 gap-5 mb-20">
      <div class="w-full max-w-xs">
        <h3 class="font-plus-jakarta-sans text-2xl tracking-[1px] mb-4">
          SIT La-Tahzan
        </h3>
        <p class="text-[#999999]">
          Tempat terbaik untuk membentuk generasi unggul yang cerdas, berakhlak
          mulia, dan berlandaskan nilai-nilai Islam.
        </p>
      </div>

      <div>
        <h3 class="font-plus-jakarta-sans text-xl tracking-[1px] mb-5">
          Navigasi
        </h3>

        <ul class="grid gap-3">
          <li class="text-[#999999]">Beranda</li>
          <li class="text-[#999999]">Tentang</li>
          <li class="text-[#999999]">Prestasi</li>
          <li class="text-[#999999]">PPDB</li>
        </ul>
      </div>

      <div>
        <h3 class="font-plus-jakarta-sans text-xl tracking-[1px] mb-5">
          Kontak
        </h3>

        <ul class="grid gap-3 mb-10">
          <li class="text-[#999999]">Alamat</li>
          <li class="text-[#999999]">Nomor Telepon</li>
          <li class="text-[#999999]">Email</li>
        </ul>

        <ul class="flex items-center gap-4">
          <li class="w-10 h-10 rounded-lg bg-green-500"></li>
          <li class="w-10 h-10 rounded-lg bg-green-500"></li>
          <li class="w-10 h-10 rounded-lg bg-green-500"></li>
        </ul>
      </div>
    </div>

    <p class="text-center text-[#999999]">All rights reserved.</p>
  </div>
</footer>
