---
import CtaContent from "./cta-content.astro";

interface Props {
  inHomePage?: boolean;
}

const { inHomePage } = Astro.props;
---

<footer
  class:list={[
    "bg-[#F4FFC3]/50 w-full pb-16 relative",
    inHomePage ? "pt-40" : "pt-16",
  ]}
>
  {
    inHomePage && (
      <div class="absolute -top-80 left-1/2 -translate-x-1/2 w-full max-w-5xl">
        <CtaContent />
      </div>
    )
  }
  <div class="container mx-auto px-4">
    <ul class="flex items-center gap-5 mb-8">
      <li class="w-20 h-20 rounded-full overflow-hidden">
        <a href="/" class="inline-flex">
          <img src="/sditlatahzan.png" alt="Logo SDIT LaTahzan" />
        </a>
      </li>
      <li class="w-20 h-20 rounded-full overflow-hidden">
        <a
          href="https://jsit.id/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex"
        >
          <img src="/jsit.png" alt="Logo SDIT LaTahzan" />
        </a>
      </li>
    </ul>

    <div class="grid grid-cols-3 gap-5 mb-20">
      <div class="w-full max-w-xs">
        <h3 class="font-plus-jakarta-sans text-2xl tracking-[1px] mb-4">
          SIT LaTahzan
        </h3>
        <p class="text-[#999999]">
          Tempat terbaik untuk membentuk generasi unggul yang cerdas, berakhlak
          mulia, dan berlandaskan nilai-nilai Islam.
        </p>
      </div>

      <div>
        <h3 class="font-plus-jakarta-sans text-xl tracking-[1px] mb-5">
          Navigasi
        </h3>

        <ul class="grid gap-3">
          <li class="text-[#999999]">Beranda</li>
          <li class="text-[#999999]">Tentang</li>
          <li class="text-[#999999]">Prestasi</li>
          <li class="text-[#999999]">PPDB</li>
        </ul>
      </div>

      <div>
        <h3 class="font-plus-jakarta-sans text-xl tracking-[1px] mb-5">
          Kontak
        </h3>

        <ul class="grid gap-3 mb-10">
          <li class="text-[#999999]">Alamat</li>
          <li class="text-[#999999]">Nomor Telepon</li>
          <li class="text-[#999999]">Email</li>
        </ul>

        <ul class="flex items-center gap-4">
          <li class="w-10 h-10 rounded-lg bg-green-500"></li>
          <li class="w-10 h-10 rounded-lg bg-green-500"></li>
          <li class="w-10 h-10 rounded-lg bg-green-500"></li>
        </ul>
      </div>
    </div>

    <p class="text-center text-[#999999]">All rights reserved.</p>
  </div>
</footer>
