---
interface Props {
  title: string;
  src: string;
  alt: string;
}

const { alt, src, title } = Astro.props;
---

<div
  class="group relative w-full h-[360px] md:h-[500px] rounded-xl md:rounded-2xl overflow-hidden"
>
  <img src={src} alt={alt} class="w-full h-full object-cover" />
  <div
    class:list={[
      "absolute left-0 bottom-0 w-full h-full bg-linear-to-t from-black/75 to-black/0",
      "scale-y-50 group-hover:scale-y-100 transition-transform origin-bottom",
    ]}
  >
  </div>
  <p
    class="absolute left-10 bottom-10 text-4xl text-white font-bold font-inter tracking-widest"
  >
    {title}
  </p>
</div>
